<div class="u-cf">
  <div class="u-pull-left"><h5>Posts </h5></div>
  <div class="u-pull-right"><%= link_to "new", new_post_path, class: "button" %></div>
</div>
<ul>
  <% if @posts.empty? %>
  <li>No posts</li>
  <% end %>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post %> by <%= post.user.try(:name) || "anonymous" %>
  </li>
  <% end %>
</ul>
