/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  padding: 30px 0;
}

.header form {
  margin-bottom: 0;
}

.rules {
  padding: 20px 25px;
  background-color: #eee;
}

.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #a94442;
  padding: 15px;
  margin-bottom: 2.5rem;
}

.notice {
  background-color: #d9edf7;
  border-color: #d9edf7;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #31708f;
  padding: 15px;
  margin-bottom: 2.5rem;
}

.container {
  max-width: 100%;
}

.u-cf {
  width: 100%;
}