<% if current_user %>
<h5>Hello: <%= current_user.email %></h5>
<% else %>
  <%= form_tag('/login') do |f| %>
    <%= text_field_tag :email, '', :placeholder => 'Email' %>
    <%= submit_tag 'Login' %>
  <% end %>
<% end %>
