<div class="authorization">
  <% matching = Rails.configuration.privileges[action] %>
  <pre><code>current_action => <%= action %> <%= "(before redirected)" if redirected %>
matching = privileges[current_action] => <%= matching.inspect %>
matching.last == :match => <%= matching.last == :match ? "true (Authorized)" : "false (Unauthorized)" %></code></pre>
</div>
